APP_ENV=development
APP_PORT=8080

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=biletflow
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

DATABASE_URL=postgres://postgres:postgres@localhost:5432/biletflow
